<template>
  <div class="center-items">
    <h1>Redeem Your Reward!</h1>
    <!-- <fb-signin-button :params="fbSignInParams" @success="fbSignInSuccess" @error="fbSignInError">
      Sign in with Facebook
      <i class="fa fa-facebook-official"></i>
    </fb-signin-button>
    <button class="ig-login-button" @click="igLink">
      Link with Instagram
      <i class="fa fa-instagram"></i>
    </button> -->
    <div class="container">
      <fb-signin-button :params="fbSignInParams" @success="fbSignInSuccess" @error="fbSignInError">
        Sign in with Facebook
        <i class="fa fa-facebook-official"></i>
      </fb-signin-button>
      <button class="ig-login-button" @click="igLink">
        Link with Instagram
        <i class="fa fa-instagram"></i>
      </button>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from "vue";
import Swal from "sweetalert2";
import moment from "moment";
import axios from 'axios';

// Initialize Facebook SDK
import {fbSdkInit} from '@/facebooksdk/index'
import FBSignInButton from 'vue-facebook-signin-button'
Vue.use(FBSignInButton)
const myFbAppId = 935242706852818
fbSdkInit(Vue, myFbAppId)

export default {
  name: 'Landing',
  data() {
    return {
      fbSignInParams: {
        scope: 'public_profile,email,user_gender,user_birthday,user_posts',
        return_scopes: true
      },
      facebookHashtag: this.$store.getters.facebookHashtag,
      facebookLoggedIn: this.$store.getters.facebookLoggedIn,
      facebookMode: this.$store.getters.facebookMode,
      facebookLimit: this.$store.getters.facebookLimit,
      eventId: this.$store.getters.eventId,
      deviceId: this.$store.getters.deviceId
    }
  },
  mounted() {
    
  },
  methods: {
    fbSignInSuccess (response) {
      console.log(`Facebook mode ${this.facebookMode}\nLimit ${this.facebookLimit}`)
      this.$store.commit('updatePlatform', 'facebook')
      sessionStorage.setItem('platform', this.$store.getters.platform)
      console.log('Facebook login success');
      var vm = this;
      /* 
        App review required to request for user's private data 
      */
      FB.api('/me?fields=id,first_name,last_name,email,gender,birthday,posts{id,message,created_time,attachments,picture,privacy}', function(response) {
        if (response && !response.error) {
          var userFbData = {
            id: response.id !== "" ? response.id : "-",
            firstName:  response.first_name !== "" ? response.first_name : "-",
            lastName: response.last_name !== "" ? response.last_name : "-",
            email: response.email !== "" ? response.email : "-",
            gender: response.gender !== "" ? response.gender : "-",
            dateOfBirth: response.birthday !== "" ? response.birthday : "-",
            posts: response.posts !== "" ? response.posts : "-",
          };
          console.log('User\'s Facebook Data:', userFbData);

          var userPosts = userFbData.posts.data;

          var limitedPosts = []

          if (vm.facebookMode == 'limit') {
            // 1. Limit the number of posts
            for (let i = 0; i < vm.facebookLimit; i++) {
              if (userPosts[i]) {
                limitedPosts.push(userPosts[i])
              }
            }
            console.log('Limited posts', limitedPosts)
          } else if (vm.facebookMode == 'today') {
            // 2. Get today's posts
            var today = new Date().toString()
            today = today.substring(0, 15)
            for (let i in userPosts) {
              var localDate = new Date(userPosts[i].created_time).toString()
              var createdDate = localDate.substring(0, 15)
              if (createdDate === today) {
                limitedPosts.push(userPosts[i])
              }
            }
            console.log('Today\'s posts', limitedPosts)
          }

          if (limitedPosts.length > 0) {
            var lastPost = limitedPosts.length - 1

            for (let i in limitedPosts) {
              var post = limitedPosts[i]

              if (post.message) {
              
                var hashtags = vm.getHashTags(post.message)

                if (hashtags.length > 0) {
                  var target = hashtags.find(item => item === vm.facebookHashtag)

                  // If post has target hashtag
                  if (target) {
                    // If post has photo
                    if (post.picture) {
                      // If post is public
                      if (post.privacy.value === 'EVERYONE') {
                        console.log('The post that qualified', post)

                        var userId = userFbData.id;

                        // Check if already registered
                        axios({
                          url: 'https://api.zapy.io/events/' + vm.eventId + '/accounts/' + userId,
                          method: 'GET'
                        })
                          .then(res => {
                            console.log('res', res)
                            if (res.data.data.Items == undefined) {
                              // Not registered yet
                              // Create new account
                              console.log('Not registered yet')
                              axios({
                                url: 'https://31bigzgosc.execute-api.ap-southeast-1.amazonaws.com/dev/activity/accounts',
                                method: 'POST',
                                data: {
                                  "EVENT_ID": vm.eventId,
                                  "DEVICE_ID": vm.deviceId,
                                  "EVENT_ACCOUNT_ID": userId,
                                  "FIRST_NAME": userFbData.firstName,
                                  "LAST_NAME": userFbData.lastName,
                                  "EMAIL": userFbData.email,
                                  "GENDER": userFbData.gender,
                                  "DOB": userFbData.dateOfBirth
                                }
                              })
                                .then(res => {
                                  console.log('res', res)
                                  vm.postFound(post.picture, userId)
                                })
                                .catch(err => {
                                  vm.apiError(err)
                                })
                            } else {
                              // Already registered
                              console.log('Already registered')
                              vm.postFound(post.picture, userId)
                            }
                          })
                          .catch(err => {
                            vm.apiError(err)
                          })

                        break;
                      } else {
                        if (i == lastPost) {
                          vm.postNotFound()
                          break;
                        }
                      }
                    } else {
                      if (i == lastPost) {
                        vm.postNotFound()
                        break;
                      }
                    }
                  } else {
                    if (i == lastPost) {
                      vm.postNotFound()
                      break;
                    }
                  }
                } else {
                  if (i == lastPost) {
                    vm.postNotFound()
                    break;
                  }
                }
              } else {
                if (i == lastPost) {
                  vm.postNotFound()
                  break;
                }
              }
            }
          }
          else if (limitedPosts.length == 0) {
            vm.postNotFound()
          }
        }
      });
    },
    fbSignInError (error) {
      console.log('Facebook login cancelled', error);
    },
    igLink() {
      this.$store.commit('updatePlatform', 'instagram')
      sessionStorage.setItem('platform', this.$store.getters.platform)

      // Authorization Window
      this.$router.push('/auth')
    },
    getHashTags(inputText) {  
      var regex = /(?:^|\s)(?:#)([a-zA-Z\d]+)/gm;
      var matches = [];
      var match;

      while ((match = regex.exec(inputText))) {
        matches.push(match[1]);
      }

      return matches;
    },
    postFound(postImageUrl, accountId) {
      this.$store.commit('updatePostImageUrl', postImageUrl)
      this.$store.commit('updateAccountId', accountId)
      this.$store.commit('updateRedeemSuccess', true)
      this.$store.commit('updateNotRefresh', true)
      this.$router.push('/loading').catch(err => {})
    },
    postNotFound() {
      this.$store.commit('updateRedeemSuccess', false)
      this.$store.commit('updateNotRefresh', true)
      this.$router.push('/loading')
    },
    apiError(err) {
      console.log(err)
      Swal.fire({
        title: 'Something went wrong.',
        text: 'Please try again.',
        icon: 'error',
        width: 300
      })
        .then(() => {
          this.$router.push('/')
        })
    }
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

h1 {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  margin-top: 60px;
}

.fb-signin-button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  width: 260px;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #4267b2;
  cursor: pointer;
}

.ig-login-button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  width: auto;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #dd2a7b;
  cursor: pointer;
  margin-top: 15px;
  border: none;
  width: 300px;;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: absolute;
  top: 50%;
  left: auto;
  right: auto;
  margin-top: -67.5px;
}

</style>