<template>
    <div style="height: 100vh; display: flex; align-items: center; justify-content: center;">
        <!-- Loading page for Instagram platform -->
        <div id="loader"></div>
    </div>
</template>

<script>
/* eslint-disable */
import Vue from "vue";
import moment from "moment";
import axios from 'axios';
import qs from 'qs';
import Swal from 'sweetalert2';

export default {
    name: 'Loading',
    data() {
        return {
            instagramHashtag: this.$store.getters.instagramHashtag,
            instagramMode: this.$store.getters.instagramMode,
            instagramLimit: this.$store.getters.instagramLimit,
            platform: this.$store.getters.platform,
            eventId: this.$store.getters.eventId,
            deviceId: this.$store.getters.deviceId
        }
    },
    mounted() {
        var vm = this;
        if (this.platform != 'facebook') {
            this.platform = sessionStorage.getItem('platform');
        }
        if (this.platform == 'facebook') {
            setTimeout(() => {
                this.$router.push('/redeem')
            }, 2000)
        } else if (this.platform == 'instagram') {
            console.log(`Instagram mode ${this.instagramMode}\nLimit ${this.instagramLimit}`)
            var params = (new URL(window.location.href)).searchParams;
            var code = params.get('code');
            var error = params.get('error');
            var error_reason = params.get('error_reason');
            var error_description = params.get('error_description');
            var userId;
            var accessToken;
            var username;
            if (code) {
                console.log('Code', code)

                // Exchange the Code For a Token
                var data = {
                    "client_id": "198533864862091",
                    "client_secret": "96d9a018061048c3302948f699673c40",
                    "grant_type": "authorization_code",
                    "redirect_uri": "https://localhost:8080/loading/",
                    "code": code
                }
                const options = {
                    url: 'https://api.instagram.com/oauth/access_token',
                    method: 'POST',
                    data: qs.stringify(data),
                    headers: { 'content-type': 'application/x-www-form-urlencoded' }
                }
                axios(options)
                    .then(res => {
                        userId = res.data.user_id;
                        accessToken = res.data.access_token;
                        console.log(`Access token ${accessToken}\nUser ID ${userId}`)

                        // Get user's profile
                        axios({
                            url: 'https://graph.instagram.com/' + userId + 
                                '?fields=id,username' + 
                                '&access_token=' + 
                                accessToken,
                            method: 'GET'
                        })
                            .then(res => {
                                console.log('User\'s profile', res.data)
                                username = res.data.username

                                // Get user's media
                                axios({
                                    url: 'https://graph.instagram.com/me/media?fields=id,caption' +
                                        '&access_token=' + 
                                        accessToken,
                                    method: 'GET'
                                })
                                    .then(res => {
                                        console.log('User\'s media', res.data.data)
                                        var userPosts = res.data.data

                                        // Get media data
                                        var limitedPosts = []
                                        var promiseArr = []

                                        if (this.instagramMode == 'limit') {
                                            // 1. Limit the number of posts
                                            for (let i = 0; i < this.instagramLimit; i++) {
                                                if (userPosts[i]) {
                                                    // limitedPosts.push(userPosts[i])

                                                    promiseArr.push(
                                                        axios({
                                                            url: 'https://graph.instagram.com/' + userPosts[i].id + 
                                                                '?fields=id,media_type,media_url,caption,username,timestamp&access_token=' +
                                                                accessToken,
                                                            method: 'GET'
                                                        })
                                                            .then(res => {
                                                                // console.log('Media data', res.data)
                                                                limitedPosts.push(res)
                                                            })
                                                            .catch(err => {
                                                                this.apiError(err)
                                                            })
                                                    )
                                                }
                                            }
                                        } else if (this.instagramMode == 'today') {
                                            // 2. Get today's posts
                                            var today = moment().format('YYYY-MM-DD')
                                            for (let i in userPosts) {
                                                promiseArr.push(
                                                    axios({
                                                        url: 'https://graph.instagram.com/' + userPosts[i].id + 
                                                            '?fields=id,media_type,media_url,caption,username,timestamp&access_token=' +
                                                            accessToken,
                                                        method: 'GET'
                                                    })
                                                        .then(res => {
                                                            // console.log('Media data', res.data)
                                                            var postDate = res.data.timestamp
                                                            postDate = postDate.substring(0, 10)
                                                            
                                                            if (postDate == today) {
                                                                limitedPosts.push(res)
                                                            }
                                                        })
                                                        .catch(err => {
                                                            this.apiError(err)
                                                        })
                                                )
                                            }
                                        }

                                        Promise.all(promiseArr).then(() => {
                                            console.log('Limited posts', limitedPosts)

                                            // Order posts from latest
                                            limitedPosts.sort(function(a,b) {
                                                var bTime = Date.parse(b.data.timestamp)
                                                var aTime = Date.parse(a.data.timestamp)
                                                return bTime - aTime
                                            })
                                            console.log('Sorted by latest post', limitedPosts)

                                            if (limitedPosts.length > 0) {
                                                var lastPost = limitedPosts.length - 1
                                                for (let i in limitedPosts) {
                                                    var post = limitedPosts[i]
                                                    var caption = post.data.caption
                                                    if (caption) {
                                                        var hashtags = this.getHashTags(caption)
                                                        var mediaUrl = post.data.media_url
                                                        var mediaType = post.data.media_type
                                                        if (hashtags.length > 0) {
                                                            var target = hashtags.find(item => item === vm.instagramHashtag)
                                                            // If post has target hashtag
                                                            if (target) {
                                                                // If post is image or album
                                                                if (mediaType == "IMAGE" || mediaType == "CAROUSEL_ALBUM") {
                                                                    console.log('The post that qualified', post)

                                                                    // Check if already registered
                                                                    axios({
                                                                        url: 'https://api.zapy.io/events/' + vm.eventId + '/accounts/' + userId,
                                                                        method: 'GET'
                                                                    })
                                                                        .then(res => {
                                                                            console.log('res', res)
                                                                            if (res.data.data.Items == undefined) {
                                                                                // Not registered yet
                                                                                // Create new account
                                                                                console.log('Not registered yet')
                                                                                axios({
                                                                                    url: 'https://31bigzgosc.execute-api.ap-southeast-1.amazonaws.com/dev/activity/accounts',
                                                                                    method: 'POST',
                                                                                    data: {
                                                                                        "EVENT_ID": vm.eventId,
                                                                                        "DEVICE_ID": vm.deviceId,
                                                                                        "EVENT_ACCOUNT_ID": userId.toString(),
                                                                                        "FIRST_NAME": username
                                                                                    }
                                                                                })
                                                                                    .then(res => {
                                                                                        console.log('res', res)
                                                                                        this.postFound(mediaUrl, userId)
                                                                                    })
                                                                                    .catch(err => {
                                                                                        this.apiError(err)
                                                                                    })
                                                                            } else {
                                                                                // Already registered
                                                                                console.log('Already registered')
                                                                                this.postFound(mediaUrl, userId)
                                                                            }
                                                                        })
                                                                        .catch(err => {
                                                                            this.apiError(err)
                                                                        })
                                                                    break;
                                                                } else {
                                                                    if (i == lastPost) {
                                                                        this.postNotFound()
                                                                        break;
                                                                    }
                                                                }
                                                            } else {
                                                                if (i == lastPost) {
                                                                    this.postNotFound()
                                                                    break;
                                                                }
                                                            }
                                                        } else {
                                                            if (i == lastPost) {
                                                                this.postNotFound()
                                                                break;
                                                            }
                                                        }
                                                    } else {
                                                        if (i == lastPost) {
                                                            this.postNotFound()
                                                            break;
                                                        }
                                                    }
                                                }
                                            } else if (limitedPosts.length == 0) {
                                                this.postNotFound()
                                            }
                                        });
                                    })
                                    .catch(err => {
                                        this.apiError(err)
                                    })
                            })
                            .catch(err => {
                                this.apiError(err)
                            })
                    })
                    .catch(err => {
                        this.apiError(err)
                    })

            } else if (error && error_reason && error_description) {
                console.log('Authorization cancelled')
            }
        }
    },
    methods: {
        getHashTags(inputText) {  
            var regex = /(?:^|\s)(?:#)([a-zA-Z\d]+)/gm;
            var matches = [];
            var match;

            while ((match = regex.exec(inputText))) {
                matches.push(match[1]);
            }

            return matches;
        },
        postFound(postImageUrl, accountId) {
            this.$store.commit('updatePostImageUrl', postImageUrl)
            this.$store.commit('updateAccountId', accountId)
            this.$store.commit('updateRedeemSuccess', true)
            this.$store.commit('updateNotRefresh', true)
            this.$router.push('/redeem')
        },
        postNotFound() {
            this.$store.commit('updateRedeemSuccess', false)
            this.$store.commit('updateNotRefresh', true)
            this.$router.push('/redeem')
        },
        apiError(err) {
            console.log(err)
            Swal.fire({
                title: 'Something went wrong.',
                text: 'Please try again.',
                icon: 'error',
                width: 300
            })
                .then(() => {
                    this.$router.push('/')
                })
        }
    }
}
</script>

<style scoped>
#loader {
  width: 2.5em;
  height: 3em;
  border: 3px solid transparent;
  border-top-color: #fc2f70;
  border-bottom-color: #fc2f70;
  border-radius: 50%;
  animation: spin-stretch 2s ease infinite;
}

@keyframes spin-stretch {
  50% {
    transform: rotate(360deg) scale(0.4, 0.33);
    border-width: 8px;
  }
  100% {
    transform: rotate(720deg) scale(1, 1);
    border-width: 3px;
  }
}
</style>