<template>
    <div>
        <div v-if="notRefresh">
            <div v-if="redeemSuccess" class="center-items">
                <h1>Congratulations!</h1>
                <p>You can now redeem your reward!</p>
                <div id="postImage"></div>
                <p>Show this QR code to our staff!</p>
                <div id="accountQRCode"></div>
                <button v-if="(platform == 'facebook')" class="fb-logout-button" @click="fbLogout">Log out from Facebook</button>
            </div>
            <div v-else class="center-items">
                <h1>We can't find your post!</h1>
                <p v-if="(platform=='facebook')">Post a photo with the hashtag #{{facebookHashtag}} to get your reward.</p>
                <p v-else-if="(platform=='instagram')">Post a photo with the hashtag #{{instagramHashtag}} to get your reward.</p>
                <p v-else></p>
                <button v-if="(platform == 'facebook')" class="fb-logout-button" @click="fbLogout">Log out from Facebook</button>
                <button v-else-if="(platform=='instagram')" @click="backToLanding" class="back-button">Back</button>
            </div>
        </div>
        <div v-else></div>
    </div>
</template>

<script>
/* eslint-disable */
import Vue from "vue";
import Swal from "sweetalert2";
import moment from "moment";
import axios from 'axios';
import * as qrcode from '../../public/js/jquery.qrcode.min.js';

// Initialize Facebook SDK
import {fbSdkInit} from '@/facebooksdk/index'
const myFbAppId = 935242706852818
fbSdkInit(Vue, myFbAppId)

export default {
    name: 'Redeem',
    data() {
        return {
            postImageUrl: this.$store.getters.postImageUrl,
            accountId: this.$store.getters.accountId,
            redeemSuccess: this.$store.getters.redeemSuccess,
            facebookHashtag: this.$store.getters.facebookHashtag,
            instagramHashtag: this.$store.getters.instagramHashtag,
            platform: this.$store.getters.platform,
            notRefresh: this.$store.getters.notRefresh
        }
    },
    mounted() {
        if (this.platform != 'facebook') {
            this.platform = sessionStorage.getItem('platform');
            this.accountId = this.accountId.toString()
        }
        console.log('platform', this.platform)

        console.log('notRefresh', this.notRefresh)
        if (!this.notRefresh) {
            Swal.fire({
                title: 'Please try again.',
                width: 300
            })
                .then(() => {
                    if (this.platform == 'facebook') {
                        this.fbLogout();
                    } else if (this.platform == 'instagram') {
                        this.$router.push('/')
                    }
                })
        }

        console.log('Account ID', this.accountId)
        if (this.redeemSuccess) {
            document.getElementById('postImage').style.backgroundImage = "url(" + this.postImageUrl + ")"
            if (this.accountId) {
                var $ = window.$;
                $('#accountQRCode').qrcode({
                    height: 128,
                    width: 128,
                    text: this.accountId
                })
            }
        }
    },
    methods: {
        backToLanding() {
            this.$router.push('/')
        },
        fbLogout() {
            FB.logout();
            console.log('Facebook logged out')
            this.$router.push('/')
        }
    }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

h1 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-top: 40px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.fb-logout-button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  width: auto;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #4267b2;
  cursor: pointer;
  border: none;
  margin-top: 16px;
}

#postImage {
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
}

#accountQRcode {
    height: 128px;
    width: 128px;
}

.center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    width: auto;
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #dd2a7b;
    cursor: pointer;
    border: none;
}

</style>